<div id="<%= dom_id course %>">
  <p>
    <%= link_to course.name, course %>
  </p>

  <p>Rating: <%= course.rating %></p>

  <%= form_with model: user_rating do |f| %>
    <%= f.label :rating, 'My Rating' %>
    <%= f.select :rating, options_for_select(UserCourseRating::ALLOWED_RATINGS) %>
    
    <%= f.submit 'Submit my rating' %>
  <% end %>
</div>
