<p>Edit <%= @course.name %></p>

<%= form_with model: @course_user do |f| %>
  <%= f.label :rating, 'My Rating' %>
  <%= f.select :rating, options_for_select((1..5).to_a) %>

  <%= f.submit 'Save Rating' %>
<% end %>
